.mediaViewInfo {
	--web-view-name: Web 1280 – 1;
	--web-view-id: Web_1280__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1280__1;
}
* {
	margin: 0;
	font-family: 'Langar' , cursive;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	border: none;
}
#Web_1280__1 {
	position: absolute;
	width: 1366px;
	height: 10851px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1280 – 1;
	--web-view-id: Web_1280__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#ID4703133 {
	filter: blur(8px);
	position: fixed;
	width: 1644px;
	height: 1097px;
	left: -100px;
	top: -101px;
	overflow: visible;
}
#Hi_Im_Vaibhav_Rajpoot {
	left: 437px;
	top: 386px;
	position: fixed;
	overflow: visible;
	width: 494px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic UI;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(193,193,193,1);
}
#Scroll_Down_To_See_My_Work {
	left: 532px;
	top: 450px;
	position: fixed;
	overflow: visible;
	width: 313px;
	white-space: nowrap;
	text-align: left;
	font-family: NSimSun;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(174,174,174,1);
}
#ID2nd_wallpaper {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 6627px;
	overflow: visible;
}
#ID2nd_wallpaper_n {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 5142px;
	overflow: visible;
}
#ID2nd_wallpaper_o {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 3672px;
	overflow: visible;
}
#ID2nd_wallpaper_p {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 2204px;
	overflow: visible;
}
#human_5 {
	position: absolute;
	width: 144px;
	height: 395px;
	left: 187px;
	top: 3832px;
	overflow: visible;
}
#chrome_CPFTNVpgMn {
	position: absolute;
	width: 910.667px;
	height: 512px;
	left: 402px;
	top: 3715px;
	overflow: visible;
}
#human_2 {
	position: absolute;
	width: 145px;
	height: 316px;
	left: 1148px;
	top: 3197px;
	overflow: visible;
}
#chrome_On5UWtos7f {
	position: absolute;
	width: 907px;
	height: 510px;
	left: 62px;
	top: 3033px;
	overflow: visible;
}
#human_7 {
	position: absolute;
	width: 295px;
	height: 376px;
	left: 1007px;
	top: 4607px;
	overflow: visible;
}
#chrome_ynw08e6sDK {
	position: absolute;
	width: 910.667px;
	height: 512px;
	left: 49px;
	top: 4471px;
	overflow: visible;
}
#human_1 {
	position: absolute;
	width: 182px;
	height: 402px;
	left: 96px;
	top: 5337px;
	overflow: visible;
}
#j0RFDeBPJP {
	position: absolute;
	width: 842.422px;
	height: 512px;
	left: 402px;
	top: 5227px;
	overflow: visible;
}
#This_Is_My_Full_responsive__We {
	left: 376px;
	top: 5920px;
	position: absolute;
	overflow: visible;
	width: 515px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	color: rgba(255,254,254,1);
}
#ID2nd_wallpaper_z {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 8112px;
	overflow: visible;
}
#ID2nd_wallpaper_ {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -90px;
	top: 9598px;
	overflow: visible;
}
#YcXxEoOXHB {
	position: absolute;
	width: 845px;
	height: 4283px;
	left: 260.5px;
	top: 6139px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(188,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1381px;
	height: 194.738px;
	left: -15px;
	top: 10607px;
	transform: matrix(1,0,0,1,0,0);
}
#ID2nd_wallpaper_ba {
	filter: blur(7px);
	position: absolute;
	width: 1574px;
	height: 1574px;
	left: -2180px;
	top: 2002px;
	overflow: visible;
}
#These_Are_My_Completed_Project {
	left: 432px;
	top: 10651px;
	position: absolute;
	overflow: visible;
	width: 489px;
	white-space: nowrap;
	text-align: center;
	font-family: Microsoft YaHei;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(65,65,65,1);
}
#ID2nd_wallpaper_bb {
	filter: blur(7px);
	position: absolute;
	width: 1546px;
	height: 1546px;
	left: -100px;
	top: 718px;
	overflow: visible;
}
#chrome_hUSmTSmbOx {
	position: absolute;
	width: 910.667px;
	height: 512px;
	left: 96px;
	top: 1570px;
	overflow: visible;
}
#humna_6 {
	position: absolute;
	width: 292px;
	height: 317px;
	left: 1074px;
	top: 1769px;
	overflow: visible;
}
#human_3 {
	position: absolute;
	width: 157px;
	height: 364px;
	left: 107px;
	top: 1072px;
	overflow: visible;
}
#chrome_rwgM0iXNYu {
	position: absolute;
	width: 911px;
	height: 512px;
	left: 370px;
	top: 927px;
	overflow: visible;
}
#human_4 {
	position: absolute;
	width: 338px;
	height: 349px;
	left: 49px;
	top: 2440px;
	overflow: visible;
}
#chrome_UUWRt1wF2S {
	position: absolute;
	width: 912.09px;
	height: 512.8px;
	left: 402px;
	top: 2258px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(46,46,46,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: fixed;
	overflow: visible;
	width: 1366px;
	height: 85px;
	left: 0px;
	top: 0px;
}
#logo {
	position: fixed;
	width: 52px;
	height: 52px;
	left: 49px;
	top: 19px;
	overflow: visible;
}
#Group_2 {
	position: fixed;
	width: 430px;
	height: 28px;
	left: 754px;
	top: 32px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 430px;
	height: 28px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Home {
	left: 0px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#About {
	left: 108px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Channel {
	left: 362px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Categories {
	left: 212px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(255,255,255,1);
}
#Group_3 {
	position: fixed;
	width: 78px;
	height: 37px;
	left: 1243px;
	top: 27px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(199,194,194,1);
	stroke: rgba(73,75,72,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 37px;
	left: 0px;
	top: 0px;
}
#Sign_In {
	left: 13px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}